<p id="notice"><%= notice %></p>

<h1>Webcodes</h1>

<table>
  <thead>
    <tr>
      <th>Bottom l</th>
      <th>Bottom m</th>
      <th>Bottom r</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webcodes.each do |webcode| %>
      <tr>
        <td><%= webcode.bottom_l %></td>
        <td><%= webcode.bottom_m %></td>
        <td><%= webcode.bottom_r %></td>
        <td><%= link_to 'Show', webcode %></td>
        <td><%= link_to 'Edit', edit_webcode_path(webcode) %></td>
        <td><%= link_to 'Destroy', webcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webcode', new_webcode_path %>
