
 <div class="card border-info text-center young-passion-gradient h-100 justify-content-center">
  <div class="col-md-6 align-self-center">
     
        <div class="card-body bg-success">
            <div class="card-header bg-warning text-white mb-4">
                Sign in to continue
              </div>
            <div class="col justify-content-center align-items-center mb-3">
              <%= image_tag("layd.png", :alt => "Layd Logo", :style => "height: 40vh; width: 30vw;") %>
        </div>
       
          <form class="form-signin">
           
          
            
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control mb-2", :placeholder => "Email Address Please", :style => "text-align:center;" %>
            <%= f.password_field :password, autocomplete: "current-password", :class => "form-control mb-4", required: true, :placeholder => "Please Enter Your Password", :style => "text-align:center;" %>
  
            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign in</button>
            <label class="checkbox float-left">
              <input type="checkbox" value="remember-me">
              <% end %>
              Remember me
            </label>
            <a href="#" class="float-right">Need help?</a>
          </form>
        </div>
      </div>
     <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign in using Github", user_github_omniauth_authorize_path %><br />
<% end %>
 </div>
    </div>
  </div>


